.container{background-color:#fff;
 width: 930px;
height:auto;
position: relative;
}


.prodotto{width: 300px;
height: 372px;
display: inline-block;
position: relative;
margin-top: 20px;div
}

div{position: absolute;
top: 0px;
right: 0px;
background-color: green;
}

.red{background-color: red;}


.prodotto > .cuore{position: absolute;
left: 150px;
bottom: 0px;
color: red;
visibility: hidden;
}

.prodotto:hover > .cuore{position: absolute;
left: 150px;
bottom: 0px;
color: red;
visibility: visible;}
